.userInfo-section {
    padding: 20px 40px;
    background-color: #fff;
}

.btn-save {
    width: 82px;
    height: 40px;
    background-color: #EB3251;
    color: #fff;
    margin-top: 20px;
}

.btn-save:hover {
    cursor: pointer;
    opacity: 0.8;
}